@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: teal;
}

#create-account-form {
    width:400px;
    padding:20px;
    text-transform: uppercase;
    background-color: #fff;
}

.title {
    margin-bottom: 20px;
}

.input-group {
    margin:20px 0; 
    position:relative;
}

.input-group label {
    display:inline-block;
    margin-bottom: 5px;
}

.input-group input {
    display:block;
    width:100%;
    padding:10px;   
}

.error input {
    border:1px red solid;
}

.success input {
    border:1px green solid;
}

 .input-group i {
     position:absolute;
     right:10px;
     top:35px;
     visibility: hidden;
 }


 .success i.fa-check-circle{
     visibility: visible;
     color:green;
 }

 .error i.fa-exclamation-circle {
    visibility: visible;
    color:red;
}


 .input-group p {
     font-size: 15px;
     color:red;
     visibility: hidden;
 }

 .error p {
     visibility: visible;
 }

 .btn {
     width:100%;
     padding:10px;
     font-size: 20px;
     background-color: teal;
     color:#fff;
     text-transform: uppercase;
     border:none;
 }

 .mainTitle{
    text-align: center;
 }

 .option1{
	font-size: 15px;  
  }
  
  .options > span {
	color: #F08179;
	cursor: pointer;
	font-weight: bold;
  }
  
  .mediaIcons{
	height: 40px;
	width: auto;
	margin: 2px 8px;
  }
  
  .btnGoogle{
    text-align: center;
   font-weight: bolder;
	display: flex;
	color: azure;
	justify-content: center;
	align-items: center;
	padding: 8px 0;
	border-radius: 8px;
	width: 60%;
   
  }
  
  .btnGoogle{
	background-color: #3a8fe4;
	margin: 10px 0px;
  }

 









