#show-modal-btn {
    font-size: 30px;
    padding:10px;
  }
  
  .modalContainer {
    background-image: linear-gradient(rgba(0,0,0,07),rgba(0,0,0,0.8));
    position:fixed;
    top:100;
    left:0;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  
  .showModal {
    visibility: visible;
  }
  
  .loginModal {
    background-color: #fff;
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: teal;
    color: white;
    padding:10px 10px;
  }
  
  #close-modal-btn {
    padding:5px;
    background-color: transparent;
    font-size: 20px;
    border: none;
  }
  
  .modalDescription {
    padding:25px 10px;
  }
  
  
  #create-account-form {
    max-width:550px;
    padding:20px;
    background-color: #fff;
  } 
  .title {
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin:20px 0; 
    position:relative;
    height: 45px;
  }
  
  .inputGroup label {
    display:inline-block;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    display:block;
    width:100%;
    padding:10px;   
  }
  
  .error input {
    border:1px red solid;
  }
  
  .success input {
    border:1px green solid;
  }
  
  .inputGroup i {
     position:absolute;
     right:10px;
     top:35px;
     visibility: hidden;
  }
  
  
  .success i.fa-check-circle{
     visibility: visible;
     color:green;
  }
  
  .error i.fa-exclamation-circle {
    visibility: visible;
    color:red;
  }
  
  
  .inputGroup p {
     font-size: 15px;
     color:red;
     visibility: hidden;
  }
  
  .error p {
     visibility: visible;
  }
  
  .btn {
     width:100%;
     padding:10px;
     font-size: 20px;
     background-color: teal;
     color:#fff;
     text-transform: uppercase;
     border:none;
  }
  
  .option1{
  font-size: 15px;  
  }
  
  .options > span {
  color: #F08179;
  cursor: pointer;
  font-weight: bold;
  }
  
  .mediaIcons{
  height: 40px;
  width: auto;
  margin: 2px 8px;
  }
  
  .btnGoogle, .btnFacebook{
   font-weight: bolder;
  display: flex;
  color: azure;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  padding: 8px 0;
  border-radius: 8px;
  width: 60%;
   
  }
  
  .btnGoogle{
  background-color: #3a8fe4;
  margin: 10px 0px;
  }
  
  
  