@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* General Styles */
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
    
}

h6{
    font-weight: 700;
    font-size: 12px;    
}

p{
    font-size: 16px;
    color: #464649;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

/* header styling */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: rgba(147, 147, 147, 0.718);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItems li{
    list-style: none;
    padding: 0 20px;
    margin-top: 5px;
    position: relative;
   
}

.navItems li a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #1a1a1a;
}

.navItems li a:hover, .navItems li a.active{
    color: rgb(172, 98, 0);
}

.navItems li a.active::after{
    content: "";
    width: 30%;
    height: 4px;
    background: rgb(172, 98, 0);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.navBrandImage{
    height: 12rem;
    margin-top: -46px;
    margin-bottom: -45px;
    width: auto;
}

.shopIcon{
    height: 2rem;
    width: auto;
    margin-top: -4px;
}

/* @media only screen and (max-width: 600px ){
    .header{
        font-size: 0.2rem;
        padding: 0;
    }
    .navBrandImage{
        margin-left: -30px;
    }

} */

/* Cover section Styling */
.cover{
    background-image: url("../img/aboutus/cover1.png") ;
    background-color: rgba(147, 147, 147, 0.507);
    height: 80vh;
    width: 100%;
    background-position: top 25% right -3;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 100px;
    display: flex;
    align-items: flex-start;
}

.cover h4{
    padding-bottom: 15px;
}

.cover h1{
    color: rgb(172, 98, 0);
}

.cover button{
    
}