@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* General Styles */
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
    
}

h6{
    font-weight: 700;
    font-size: 12px;    
}

p{
    font-size: 16px;
    color: #464649;
    margin: 15px 0 20px 0;
}

button.basic{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: whitesmoke;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

/* header styling */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: rgba(147, 147, 147, 0.462);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItems li{
    list-style: none;
    padding: 0 20px;
    margin-top: 5px;
    position: relative;
   
}

.navItems li a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #1a1a1a;
}

.navItems li a:hover, .navItems li a.active{
    color: rgb(172, 98, 0);
}

.navItems li a.active::after{
    content: "";
    width: 30%;
    height: 4px;
    background: rgb(172, 98, 0);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.navBrandImage{
    height: 12rem;
    margin-top: -46px;
    margin-bottom: -45px;
    width: auto;
}

.shopIcon{
    height: 2rem;
    width: auto;
    margin-top: -4px;
}

/* @media only screen and (max-width: 600px ){
    .header{
        font-size: 0.2rem;
        padding: 0;
    }
    .navBrandImage{
        margin-left: -30px;
    }

} */

/* Cover section Styling */
.cover{
    background-image: url("../img/page-backgrounds/clem-onojeghuo-CJtNSIOicD0-unsplash.jpg") ;
    background-color: #080d09;
    height: 80vh;
    width: 100%;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 150px 100px;
    display: flex;
    align-items: flex-start;
    color: #AE0203;
}

.cover h4{
    padding-bottom: 10px;
}

.cover h1{
    color: rgb(172, 98, 0);
    font-weight: bolder;
}

.cover h2, h5{
    color: rgb(177, 167, 154);
    font-weight: bolder;
}

.cover h5{
    margin-bottom: 20px;
}

.cover button{
    background-image: url("../img/icons/button.png");
    background-color: #AE0203;
    color: rgb(241, 142, 13);
    border: none;
    padding: 14px 60px 14px 45px;
    border-radius: 5px;
    font-size: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cover button:hover{
    background-color: bisque;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.feature .featureBox{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 3px double rgba(177, 167, 154, 0.616);
    border-radius: 4px;
    margin: 15px 0;
}

.feature .featureBox:hover{    
    box-shadow: 5px 5px 54px rgba(132, 130, 121, 0.591);    
}

.feature .featureBox img{
   width: 100%;
}

.feature .featureBox h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: teal;  
    background-color: rgba(223, 123, 181, 0.593); 
    margin-top: 10px; 
    display: inline-block;
}

.feature .featureBox:nth-child(2) h6{
    background-color: lightgreen;
}

.feature .featureBox:nth-child(3) h6{
    background-color: lightskyblue;
}

.feature .featureBox:nth-child(4) h6{
    background-color: lightsalmon;
}

.feature .featureBox:nth-child(5) h6{
    background-color: lightsteelblue;
}

.feature .featureBox:nth-child(6) h6{
    background-color: lightpink;
}

/* Products section styles */
.products{
    text-align: center;
    padding: 0 150px;
}

.products .productsBox{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.products .product{
    position: relative;
    width: 24%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgba(177, 167, 154, 0.616);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.3s ease;
}

.products .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

.products .product img{
    width: 100%;
    height: 22rem;
    border-radius: 20px;
}

.products .product .description{
    text-align: start;
    padding: 10px 0;
}

.products .product .description span{
   color: #464649;
   font-size: 12px;
}

.products .product .description h5{
    padding-top: 7px;
    color: #080d09;
    font-size: 18px;
 }

 .stars ion-icon{
    color: gold;
    font-size: 20px;
 }

 .products .product .description h4{
    padding-top: 7px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(172, 98, 0);
 }

 .products .product .proCart{
    width: 45px;
    height: 40px;
    background-color: rgb(218, 239, 232);
    line-height: 40px;
    border-radius: 50px;
    font-weight: 400;
    color: teal;
    text-align: center; 
    position: absolute;
    bottom: 28px;
    right: 28px;   
 }
 
 /* Banner styles */
 .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/page-backgrounds/rep.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin: 60px 0;
 }

 .banner h4{
    color: white;
    font-size: 2rem;
 }

 .banner h2{
    color: white;
    font-size: 3.2rem;
    padding: 10px 0;
 }

 .banner h2 span{
    color: #f60a0a;
 }

 .banner button:hover{
    background-color: teal;
    color: whitesmoke;
 }

 .proBanner .promoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/page-backgrounds/banner1.jpg");
    width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 60px 0;
 }

   


